body {
    background-color: #696969;
    color: #7FFF00;
    text-align: center;
    margin: 40px 150px 0;
    font-family: Verdana, Geneva, sans-serif;
}

header {
    padding: 50px;
    background-color: #373737;

    border-radius: 100px;

    color: #008000;
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 120px;
}

header h1 {
    font-size: 4em;
    margin: 0;
}

header h2 {
    margin-top: 5px;
}

header div.image-holder {
    height: 200px;
}
img {
    height: 200px;
    border-radius: 75%;
    filter: grayscale(100%);
}


section p, section ul {
    margin: 0.5em auto;
    text-align: left;
    line-height: 1.5em;
    padding: 1em 3em;
}

footer {
    background-color: #373737;
    color: #7FFF00;
    font-family: 'Courier New', monospace;
    font-size: 2em;
    margin-bottom: 0;
}